
*{
  margin:0;
  padding:0;
  box-sizing:border-box; /*The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
}
body{
  background: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;  /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}
a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.container{
  max-width: 1078px;
  width: 100%;
  margin: 0 auto;
}
header{
    height: 100vh;   /*The vh and vw units can be used to size an image as a percentage of the viewport.*/
    background-image: url("img/head.jpg");
    background-size: cover;
    overflow: hidden;  /*The overflow is clipped, and the rest of the content will be invisible*/
}
.logo-left{
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
nav{
  padding:40px;
  position: fixed;  /*it always stays in the same place even if the page is scrolled*/
  z-index: 99999999;  /*always in front of an element */
  right: 0;
  left:0;
  transition: all 1s; /*a transition effect for the width property, with a duration of 1 seconds*/
}
.homeAboutUs{
  position: relative;  /*The element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position*/
  height: 100%;
  z-index: 10000;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */ /*RGB colors*/
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.text-center{
  text-align: center;
  color:white;
  clear:both;  /*No floating elements allowed on either the left or the right side*/
  position: absolute;  /*The element is positioned relative to its first positioned (not static) ancestor element*/
  top: 15vh;
  right: 0;
  left: 0;
  z-index: 999999;
}
.text-center h1{
  margin-top: 20vh;
  margin-bottom: 20px;
  font-size: 75px;
}
.text-center p{
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .text-center h1{
        font-size: 55px;
    }
   .text-center p{
    font-size: 15px;
    }
}

