
h2 {
  text-align: center;
  color: #ecf0f1;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;


}
.form-style-4{
  width: 950px;
  min-height: 350px;
  font-size: 20px;
  background: #495C70;
  padding: 30px 30px 30px 30px;
  border: 1px solid #ecf0f1;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
  font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: #ecf0f1
;

}
.form-style-4 label {
    display:block;
    margin-bottom: 50px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #2c3e50;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
}
.form-style-4 textarea{
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #2c3e50;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}


fieldset {
    background:#2c3e50;

 border: 1px solid #53687E;

}
label { font-family:'Open+Sans Condensed';}
form {
 align-items: center;
 display: flex;
 flex-direction: column;
 padding: 50px 50px;
